
<%- include("partials/_header") %>
   <!-- body -->

   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->
         <!-- about -->
         <div class="about">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="titlepage text_align_left">
                        
                        <h2>PhotoMania Haqqında</h2>
                        <p>
                           PhotoMania fotoqrafiya həvəskarları və yaradıcı fərdlər üçün nəzərdə tutulmuş unikal bir platformadır. Burada həm peşəkar fotoqraflar, həm də hobbi olaraq fotoşəkillərlə maraqlanan istifadəçilər öz əsərlərini paylaşa, idarə edə və başqalarının möhtəşəm işlərini kəşf edə bilərlər.
                           <br>
                            Gələcəkdə platformanı daha da təkmilləşdirərək problemləri həll etməyə çalışacam.
                           <br>
                           Əsas Xüsusiyyətlər:
                           <br>
                           Rahat foto yükləmə və idarəetmə imkanı <br>
                           Fərdi foto qalereyaları yaratma <br>
                           Bütün cihazlarda rahat görüntülənən responsiv dizayn <br>
                           Gələcəkdə icmaya bəyənmə və şərhlər vasitəsilə qarşılıqlı əlaqə qurma imkanı <br>
                           Kateqoriyalara və ya taglara görə inkişaf etmiş axtarış və filtr funksiyaları <br>
                           Yüksək keyfiyyətli şəkillər üçün təhlükəsiz saxlanma və sürətli yükləmə <br>
                           Problemlər yarana bilər, amma təkmilləşdirmə üzərində işləyirəm. Bizimlə birlikdə öz yaradıcılığınızı dünyaya göstərməyə  <br>başlayın və PhotoMania icmasının bir parçası olun!
                         </p>
                        <a class="read_more" href="about">Read More</a>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="about_img">
                        <figure><img src="images/about_img.png" alt="#" /></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end about -->
         <!-- end footer -->
         <%- include("partials/_footer") %>
